body {
  background: #efefef;
}

#top {
  height: 100%;
  min-height: 100%;
}

.ant-layout.ant-layout-has-sider {
  height: 100%;
}

#app {
  height: 100%;
  min-height: 100%;
}

#about {
  height: 100%;
  min-height: 100%;
}

#task {
  height: 100%;
  min-height: 100%;
  /*background-color: #666;*/
}

.logo {
  cursor: pointer;
  color: #fff;
  background-color: #111;
}

.swimlaneHeader {
  border-bottom: 4px solid #efefef;
}

.item {
  margin-bottom: 20px;
}

.Aligner {
  display: flex;
  align-items: center;
  min-height: 2em;
  justify-content: center;
}

.Aligner-item {
  flex: 1;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}

.menu-item {
  font-size: 14px;
}

.header-line {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #efefef;
}