body {
  background: #cfcfcf;
}

.logo {
  font-size: 64px;
  text-align: center;
  color: #fff;
  background-color: #111;
}

.swimlaneHeader {
  border-bottom: 4px solid #efefef;
}

.item {
  margin-bottom: 20px;
}